services:
  app:
    image: docling-app
    ports:
      - 8080:8080
    volumes:
      - type: bind
        source: ./src
        target: /app/code
      - type: bind
        source: ./data
        target: /data
  ollama: # is there a reason to use ollama?
    image: ollama/ollama
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [compute, utility]
    ports:
      - 11434:11434
    volumes:
      - ollama-storage:/root/.ollama


volumes:
  ollama-storage: